/**
 *  @font-face {
 *    font-family: 'Имя шрифта';
 *    src: local('Имя шрифта'),
 *         url(путь к файлу.woff2) format('woff2'),
 *         url(путь к файлу.woff) format('woff'),
 *         url(путь к файлу.ttf) format('truetype'),
 *         url(путь к файлу.eot) format('eot'),
 *    font-weight: 400;
 *    font-style: normal;
 *    font-display: swap;
 */

/**
  * font: normal normal bold 14px/1.4 serif
  * font: italic 1.1em monospace
  * font: normal small-caps 18px/1 sans-serif
  * font: 20px cursive
  */

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url(./inter/Inter-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./inter/Inter-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
