/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  margin-block-start: 12px; /* margin-top */
}

  .header__container {
    padding-inline: 48px;
    padding-block: 16px;
    display: flex;
    align-items: center;
  }



  /* HEADER__LOGO */

  .header__logo {
    display: flex;
    margin-inline-end: 96px; /* margin-right */
    border-radius: 16px;
    padding: 12px;
    transition: background-color .1618s ease;
  }

  .header__logo:hover {
    background-color: #e6e6e6;
  }


  /* HEADER__NAV */

  .header__nav {
    
  }

    .header__nav-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      column-gap: 16px;
    }

    .header__nav-item {

    }

    .header__nav-link {
      padding: 12px;
      color: inherit;
      text-decoration: none;
      display: block;
      line-height: 1.5rem;
      letter-spacing: -0.02em;
      background-color: transparent;
      border-radius: 16px;
      transition: background-color .1618s ease;
      white-space: nowrap;
    }

    .header__nav-link:hover {
      background-color: #e6e6e6;
    }



  /* HEADER__SEARCH */

    .header__search {
      margin-inline-start: auto; /* margin-left */
    }

      .header__search-label {
        display: none;
      }

      .header__search-wrapper {
        position: relative;
        display: flex;
        align-items: center;
      }

      .header__search-icon {
        position: absolute;
        inset-inline-start: 12px; /* left */
      }


      .header__search-input {
        padding-block: 12px;
        padding-inline: 44px 24px;
        min-inline-size: 420px; /* min-width */
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-family: inherit;
        letter-spacing: -0.02em;
        border: none;
        border-radius: 16px;
        background-color: #e6e6e6;
      }

      .button:focus {
        outline: none;
      }
  
      .button:focus-visible {
        outline: 2px solid skyblue;
      }

      ::-ms-clear {
        inline-size: 0; /* width */
        block-size: 0; /* height */
      }

      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
	      -webkit-appearance:none;
      }

      .header__search-input::placeholder {
        color: #505050;
      }

      



  /* HEADER__USER */

  .header__user {
    margin-inline-start: 32px; /* margin-left */
  }

    .header__user-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    .header__user-item {
    }

    .header__user-link {
      position: relative;
      padding: 12px;
      display: flex;
      color: inherit;
      text-decoration: none;
      border-radius: 16px;
      line-height: 24px;
      letter-spacing: -0.02em;
      background-color: transparent;
      white-space: nowrap;
      transition: transform var(--duration) ease, background-color var(--duration) ease-out;
    }    

    .header__user-link:hover {
      background-color: var(--link-hover);
    }

    .tooltip {
      position: relative;
    }

    .tooltip::after {
      content: attr(aria-label);
      animation-duration: var(--duration);
      animation-timing-function: ease;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
      position: absolute;
      display: none;
      font-size: 14px;
      letter-spacing: normal;
      font-weight: 500;
      line-height: 1rem;
      background-color: #fefefe;
      color: #505050;
      box-shadow: 0 2px 4px 0 rgba(0 0 0 / 0.08);
      padding: 12px;
      border-radius: 16px;
      inset-block-start: calc(100% + 8px); /* top */
      opacity: 0;

      /* центрирую элемент относительно родительского */
      inset-inline-start: 50%; /* left */
      translate: -50%;
      /* центрирую элемент относительно родительского */

      transform: translateY(4px);
    }

    .header__user-link:hover.tooltip::after {
      display: block;
      animation-name: tooltip;
    }

    @keyframes tooltip {
      100% {
        opacity: 100;
        transform: translateY(0);
      }
    }

    .header__user-link:focus-visible.tooltip::after {
      display: block;
      animation-name: tooltip;
    }

    

    .header__user-link:focus-visible {
      outline: 2px solid skyblue;
    }

    .header__user-link:active {
      transform: translateY(2px);
      background-color: #dadada;
    }

    

    .header__user-link--profile {
      padding-block: 0;
      padding-inline-start: 0; /* padding-left */
      gap: 4px;
      align-items: center;
    }

    .header__user-image {
      border-radius: 14px;
      margin-block: 4px;
      margin-inline-start: 4px; /* margin-left */
      margin-inline-end: 8px; /* margin-right */
    }


/*------------------------------------*\
  #A11Y
\*------------------------------------*/

/* Настройки анимации */

@media (prefers-reduced-motion) {
  :root {
    /* --duration: 0.3236s; */
    --duration: 2s;
  }
}

/* Настройки контраста */

@media (prefers-contrast) {
  :root {
    --link-hover: lime;
  }
}