.page__login {
  display: grid;
  height: 100dvh;

  /* fallback */
  background-image: url('../images/login-1x.jpg');
  background-image: -webkit-image-set(
    url('../images/login-1x-v2.jpg') 1x,
    url('../images/login-2x.jpg') 2x,
    url('../images/login-3x.jpg') 3x
  );
  /* /fallback */

  background-image: image-set(
    url('../images/login-1x.jpg') 1x,
    url('../images/login-2x.jpg') 2x,
    url('../images/login-3x.jpg') 3x
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-inline-size: 522px;
  margin: auto;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
}

  .form__header {
    margin-block-end: 2rem;
  }

  .form__logo {
    margin-block-end: 1rem;
  }

  .form__title {
    margin: 0;
    margin-block-end: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
  }

  .form__subtitle {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: #6d6d6d;
    max-inline-size: 348px;
  }

  .form__group {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .form__contact {
    flex-direction: column;
  }

  .form__body {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .form__submit {

  }

  .form__footer {
    width: 100%;
    margin-block-start: 1rem;
    /* margin-block-end: 1rem; */
  }

  .form__question {
    margin: 0;
    text-align: center;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: #6d6d6d;
  }

  .form__link {
    display: inline-block;
    color: #282828;
    text-decoration: none;
    margin-inline-start: 8px;
  }



.input {
  position: relative;
}

  .input__label {
    position: absolute;
    top: 1rem;
    left: 1rem;
  
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: #636363;

  }

  .input__action {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    max-block-size: 56px;
    width: 100%;
  }

.button {
  cursor: pointer;
  padding: 16px;
  border: 2px solid #282828;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1em;
  block-size: 56px;
  font-weight: 500;
  letter-spacing: -0.02em;
  background: linear-gradient(to top, #282828, #484848);
  color: #fff;
}